body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .hero {
    background-image: url('img/hero_image.jpg');
    background-color: #333;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    animation: fadeIn 2s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .cta-buttons {
    display: flex;
    animation: fadeIn 2s ease 2s;
  }
  
  .cta-button {
    background-color: #ff6f00;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .features {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    flex-wrap: wrap;
  }
  
  .feature img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
  }

  .feature {
    width: 30%;
    margin: 20px 0;
    animation: slideIn 1s ease;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .feature-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .feature-description {
    font-size: 16px;
  }
  
  .download {
    background-color: #ddd;
    padding: 50px 0;
    text-align: center;
  }
  
  .download-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .download-description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .download-buttons {
    display: flex;
    justify-content: center;
  }
  
  .store-icons {
    width: 160px;
    height: auto;
    margin: 0 5px;
    object-fit: contain;
  }
  
  .footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 20px;
  }

  .language-switch {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
  }
  
.logo {
  max-height:80px;
  max-width: 200px; /* 任意のピクセル数を指定 */
  margin-right:10px;
}

  .language-button {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
    border-radius: 4px;
  }
  
  .language-button:hover {
    background-color: #444;
  }

  .hidden {
    display: none;
  }
  

  @media screen and (max-width: 768px) {
    .title {
      font-size: 32px;
    }
    .subtitle {
      font-size: 18px;
    }
    .features {
      flex-direction: column;
    }
    .feature {
      width: 80%;
      margin: 20px 0;
    }
    .download-title {
      font-size: 28px;
    }
    .download-description {
      font-size: 16px;
    }
    .store-icons {
        width: 160px;
        height: auto;
        margin: 0 5px;
        object-fit: contain;
    }
  }  
  /* 問い合わせセクションスタイル追加 */
.contact {
    text-align: center;
    padding: 3rem 0;
    background-color: #f8f8f8;
  }
  
  .contact-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .contact-description {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .contact-button {
    background-color: #222;
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .contact-button:hover {
    background-color: #444;
  }
  
  /* ヘッダータイトルとサブタイトルの文字サイズを大きくする */
  .title {
    font-size: 3rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
  }
  
  /* アニメーション追加 */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .title,
  .subtitle {
    animation: fadeIn 1s ease-out;
  }

  /* ストアアイコンのサイズ調整 */
.store-icons img {
    width: 150px;
    height: auto;
  }
  